        <script src="/js/jquery.min.js"></script>
        <script src="/js/client.js"></script>
        <br>
        <hr>
        <p class="text-center">Developed by tareqas.com | 2018</p>

    </div>
    <br>

</body>

</html>