<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/local.css">    

    <title>{{ title }} | Bamboo Dictionary</title>
    
</head>

<body>

    <div class="container bg-faded">

        <div class="row justify-content-center search-div">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="/definition">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <button type="button" class="close" aria-label="Close">
                            <h2 aria-hidden="true">&times;</h2>
                        </button>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" id="search-value" name="q" type="search" value="{{ word }}" ">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>