<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        body {
            background-color: #f4ecd8;
        }
    </style>

    <title>PhraseBook | Bamboo Dictionary</title>
</head>

<body>

    <div class="container bg-faded">
        <h1 class="text-center"><a href="/phrasebook">PhraseBook</a> || <a href="/">BambooDictionary</a></h1>

        <div class="row">
            <div class="col text-center">
                <p>bookmark your phrases from extension</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col text-center" id="bamboo-phrasebook">

            </div>


        </div>

        <br><br>
        <hr>
        <p class="text-center">Developed by tareqas.com | 2018</p>

    </div>
    <br>

</body>

</html>