<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>{{ word }} | Bamboo Dictionary</title>
</head>

<body>

    <div class="container bg-faded">
        <h1 class="text-center">Centering in Bootstrap 4</h1>

        <div class="row">
            <div class="col text-center">use <code>.text-center</code> for display:inline elements</div>
        </div>
        <hr>

        <div class="row">
            <div class="col text-center">
                <h2>word: {{ word }}</h2>
                <img src="https://gitlab.com/tareqas/bamboodictionary/raw/master/public/words/{{ word }}">
            </div>
        </div>

    </div>
    <br>

</body>

</html>