{{> upper title=word }}



<h4>word: <b>{{ word }}</b></h4>
<hr>

<div class="row">

    <div class="col-md-7 col text-center" id="display-board">
        {{{ wordOALD }}}
    </div>

    {{!-- Google Custom Search --}}
    <div class="col-md-5" id="gcs">
        <script>
            (function() {
                var cx = '009235058094607479080:oh1goq8afzs';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:search></gcse:search>
    </div>

</div>



{{> lower }}