{{> upper title=searchWord }}



<div class="row">
    <div class="col text-center">showing probable results for <b>{{searchWord}}</b></div>
</div>
<hr>

<div class="row">
    <div class="col text-center">
        <ol class="list-group list-group-flush">
            {{#each words}}
            <li class="list-group-item"><a href="/definition/{{this}}">{{this}}</a></li>
            {{/each}}
        </ol>
    </div>

</div>



{{> lower }}