{{> upper title=word }}



<h3 class="">word: <b>{{ word }}</b></h3>
<hr>
<div class="row">
    <div class="col word-info">
        <img class="img-fluid" src="https://gitlab.com/tareqas/bamboodictionary/raw/master/public/words/{{ word }}">
    </div>
</div>



{{> lower }}