body {
    background-color: #f4ecd8;
}

hr {
    margin: 10px 0;
}

.search-div {
    margin-top: 5px;
}

.card-body {
    padding: 5px;
}

.pagination {
    overflow: auto; 
    font-size: 1.4rem;
}

.pagination-selected {
    font-size: 1.5rem;
    font-weight: bolder;
}

.list-group-item {
    background-color: #f4ecd8;
    border-width: 0;
    padding: .5rem 0;
    font-size: 1.1rem;
}

.img-fluid {
    margin-bottom: 10px;
}

.collapse-list {
    display: block;
    text-align: left;
    font-size: 1.3rem;
    margin-left: -25px;
    cursor: pointer;
}

.word-details {
    display: inline-block;
    text-align: left;
}

.topic-tree {
    text-align: left;
    font-size: 1.1rem;
    margin-left: -25px;
}

.topic-words > li > ul {
    margin-left: -40px;
}

.topic-words-seperator {
    font-size: 1rem;
    border-bottom-style: dashed;
    border-bottom-width: .5px;
    border-bottom-color: darkgray;
    padding: 8px 0;
}

.topic-examples {
    margin-top: -10px;
    margin-left: -15px;
}

.highlighted {
    font-weight: bold; 
}

.non-highlighted {
    font-weight: normal;
    font-size: 1.1rem;
}

.topic-words-collapsed {
    text-align: right;
    border-bottom: 3px double;
}
