<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        body {
            background-color: #f4ecd8;
        }
    </style>

    <title>Bookmark | Bamboo Dictionary</title>
</head>

<body>

    <div class="container bg-faded">
        <h1 class="text-center"><a href="/bookmark">Bookmark</a> || <a href="/">BambooDictionary</a></h1>

        <div class="row">
            <div class="col text-center">
                <p>bookmark your words from anywhere</p>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col text-center">
                {{#if message}} 
                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                {{/if}}

                <form class="form-inline" method="GET" action="/bookmark">
                    <div class="input-group mb-2 mr-sm-2">
                        <h4>add word:</h4>
                    </div>

                    <div class="input-group mb-2 mr-sm-2">
                        {{#if newword}}
                        <input type="text" class="form-control" id="newword" name="newword" value="{{ newword }}" required>
                        {{else}}
                        <input type="text" class="form-control" id="newword" name="newword" placeholder="new word" required>
                        {{/if}}
                    </div>

                    <div class="form-check mb-2 mr-sm-2">
                        <select class="custom-select" id="topic" name="topic">
                            {{#each topics}}
                            <option value="{{ this }}">{{ this }}</option>                        
                            {{/each}}
                        </select>
                    </div>

                    {{#if password}}
                    <input type="hidden" name="password" id="password" value="{{ password }}">
                    {{/if}}

                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </form>

                <div>
                    {{#each bag}}
                        <hr>
                        <h5>Topic: {{ this.topic }}</h5>
                        <hr>
                        <p>{{ this.words }}</p>
                    {{/each}}
                </div>

            </div>


        </div>

        <br><br>
        <hr>
        <p class="text-center">Developed by tareqas.com | 2018</p>

    </div>
    <br>

</body>

</html>